<div class="postCommentsItem">
    <div class="postCommentHeader">
        <span class="postCommentAuthor">
            <%= comment.user.name %>
        </span>
    </div>

    <div class="postCommentContent">
        <%= comment.content %>
    </div>
</div>