<link rel="stylesheet" href="/css/home.css" />
<h1>codiel / <%= title %>
</h1>

<div id="container">

    <section id="left-view">

    </section>
    <section id="feed-post">
        <h4>post</h4>
        <form action="/posts/create" id="createPost" method="post">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here..."></textarea>
            <div>
                <input id="addPostBtn" type="submit" value="post" />
            </div>

        </form>

        <div id="posts-list-container">

            <ul>
                <% for( post of posts) { %>
                     <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
    </section>

    <section id="right-view">
           <h4>Friends</h4>
          <% for(u of all_users){ %>
            <P><a href="/users/profile/<%= u.id%>"> <%= u.name %>  </a></P>      

         <% } %>
    </section>


</div>